/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main Container Styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
section {
    margin-bottom: 20px;
}

/* Weather Info Container */
#weather-info {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
}


/* Transition for weather details */
#weather-details {
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);
}

#weather-details.show {
    opacity: 1;
    transform: translateY(0);
}


/* Forecast Item Styles */
.forecast-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.forecast-item:last-child {
    border-bottom: none;
}

.forecast-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forecast-item p {
    margin: 5px 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    transition: transform 0.3s;
}

.forecast-item:hover .weather-icon {
    transform: scale(1.2);
}


/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    min-width: 200px; /* Ensure the input field has a minimum width */
}



/* Button Styles */
button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


